# git's files (which MUST be (extended) ASCII or UTF-8)
.gitattributes    zos-working-tree-encoding=iso8859-1
.gitignore        zos-working-tree-encoding=iso8859-1

# The default for text files
*.cpp    zos-working-tree-encoding=ibm-1047
*.md     zos-working-tree-encoding=iso8859-1

# Binary files
*.jpg    binary
*.png    binary
*.gif    binary
*.zip    binary

# Recursively match a zos-working-tree-encoding to files in subdirectories
path/to/directory1/** zos-working-tree-encoding=ibm-1047
path/to/directory2/** zos-working-tree-encoding=iso8859-1
